@keyframes Rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes Pulsate {
    0% {
        opacity: 0;
        letter-spacing: 2vmin;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        letter-spacing: 3vmin;
    }
}

@keyframes Flash {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2.5);
    }
    100% {
        transform: scale(1);
    }
}

@wiggle-degrees: 5deg;

@keyframes Wiggle-CW {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(@wiggle-degrees);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-@wiggle-degrees);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes Wiggle-CCW {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-@wiggle-degrees);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(@wiggle-degrees);
    }
    100% {
        transform: rotate(0deg);
    }
}
