.Quiz {
    width: 90vmin;
    height: 90vmin;
    margin: auto;
    display: flex;

    > .QuestionContainer {
        width: 75%;
        height: 100%;
    }
    > .StatisticsContainer {
        width: 25%;
        height: 100%;
    }
}

.Finished {
    width: 90vmin;
    height: 90vmin;
    margin: auto;
}